<div id="<%= dom_id eater %>">
  <p>
    <strong>First name:</strong>
    <%= eater.first_name %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= eater.member_id %>
  </p>

  <p>
    <strong>Meal:</strong>
    <%= eater.meal_id %>
  </p>

</div>
