<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= meal.price %>
  </p>

  <p>
    <strong>Message ID:</strong>
    <%= meal.message_id %>
  </p>
</div>
